**/__pycache__/
**/venv/
**/.venv/
**/env/
**/ENV/

**/.env

**/poetry.lock

**/build/
**/dist/

pip-log.txt
pip-delete-this-directory.txt

**/.pytest_cache/

**/.mypy_cache/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
